@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root {
    --deep-red: #BF0711;
    --red: #DE3618;
    --red-outline: #FEAD9A;
    --light-red: #FBEAE5;
    --bg-col: #fafaf9;
    --team-a-red: #e26a6a;
    --team-b-blue: #2574a9;
    --sink-yellow: #ffaf47;
    --norman-green: #67a283;
    --paddle-purple: #793e8e;
    --glass-blue: #54b6f2;

    --deep-blue: #084E8A;
    --blue: #006FBB;
    --blue-outline: #B4E1FA;
    --light-blue: #EBF5FA;

    --yellow: #FFD600;
    --light-yellow: rgb(255, 243, 182);
    --dark-yellow: rgb(253, 207, 0);

    --green: #429600;
    --green-bg: #F3FFEA;

    --purpp: #100033;
    --grey-bg: #fafaf9;
    --gray-10: rgba(8, 0, 26, 0.8);
    --gray-4: rgba(8, 0, 26, 0.25);
    --gray-3: rgba(8, 0, 26, 0.08);
    --gray-2: rgba(8, 0, 26, 0.03);
    
    --font-sans-serif: "Roboto", sans-serif;
    --font-family-monospace: "Source Code Pro";
}

/* My CSS */

.box, .swal2-popup, .modal-header {
    background-color: #fafaf9 !important;
}

.modal-footer{
  display: flex;
  justify-content: flex-end;
}

.swal2-radio {
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-flow: column;
  background-color: var(--bg-col) !important;
}

.swal2-radio label {
  display:flex; 
  flex-flow: row;
  flex-wrap: nowrap;
  align-items: center;
  padding-top: 5px;
}

.box-body {
  display: flex;
  flex-flow: wrap;
  align-items: center;
}

/* General */

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-sans-serif) !important;
}



.h1, h1 {
  font-family: var(--font-title) !important;
}

.h2, .h3, .h4, .h5, .h6, h2, h3, h4, h5, h6 {
  font-family: var(--font-subtitle) !important;
} 


#shiny-notification-panel {
    background-color: var(--grey-bg);
    min-width: max-content;
    max-width: 35vw;
    border: 2px solid var(--gray-4);
    border-radius: 7px;
}

.casualty-gif {
  margin: 2vh 1vw;
  box-shadow: 2px 3px 3px var(--gray-4);
  border-radius: 2px;
}

.shiny-notification-content-text {
    min-width: 35vw;
    white-space: nowrap;
}

.shiny-notification {
    background-color: var(--grey-bg);
    margin: 5px;
    font-size: 2.5rem;
    font-weight: 600;
    border: none;
}

.content {
    overflow: auto;
}
/*
.well {
    margin-top: 2vh;
    padding-top: 2vh;
    padding-bottom:5vh;
    opacity: 0.9;
}
*/

.dropdown-menu {
  background-color: var(--bg-col);
  text-align: center;
  flex-flow: column;
  padding: 5px;
  width: max-content;
}

.numbers {
  font-size:25vh; 
}




/* Player Input */

#start_game {
    margin-top: 5vh;
    margin-bottom: 2rem;
}

#play_to {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.bootstrap-select .dropdown-toggle .filter-option {
    text-align: center!important;
}

/* Scoreboard */

#previous_round {
    font-size: 1.75rem;
    margin-bottom: 2rem;
    border-radius: 15px;
}

#next_round {
    margin-bottom: 2rem;
    border-radius: 15px;
}

/*
#score_A, #score_B {
    font-size: 20rem; 
    color: white;
    
}*/

label.control-label[for='scorer'] {
    font-size: 2.5rem;
    margin-bottom: 0;
}

.shiny-input-radiogroup label {
  font-size: 4.5vh;
    margin-bottom: -1vh;
}

.awesome-checkbox label {
  font-size:4.5vh;
}

#ok_A, #ok_B {
    font-size: 3vh;
}

#undo_score_A, #undo_score_B {
    width: 80%;
    border-radius: 15px;
    font-size: 3.5vh;
}

/*
#start_game, #scorer, #paddle, #score, #clink, #foot {
    font-size: 2rem; 
    margin-bottom: 1.5vh;
}*/

#game_summary, .sw-dropdown {
    display: inline-block;
    margin: 2vh 6vh;
}

.sw-dropdown-in {
    background-color: var(--grey-bg) !important;
    width: 37vw !important;
}

.sw-show.sw-dropdown-content {
    background-color: var(--grey-bg);
}

.dropdown-menu {
    min-width: 25vw;
}

/* Buttons */

/*
.bttn-unite.bttn-md { 
    font-size: 200%;
}*/

label.control-label[for^='name_'] {
    font-size: 5vh; 
    color: white;
    
}

.btn-group .btn-group-toggle .btn-group-lg {
    font-size:100%;
    
}



.selectize-control.single .selectize-input, .selectize-control.single .selectize-input input {
    font-size: 1.75rem;
    text-align: center;
}


.selectize-dropdown-content {
    font-size: 2rem;
}

.selectize-dropdown {
    bottom: 100% !important; 
    top:auto!important;
}

.selectize-input.items.has-options.full.has-items {
    line-height: normal;
}
/*
.form-control.selectize-control {
    font-size:5rem;
}
*/

.btn-group {
    padding: 0 0.1rem;
}

.form-group {
    display: block;
    margin-bottom: 0;
}

.radio-btn-icon-yes {
    padding-right: 1rem;
}

.label {
    font-size: 2rem;
}

.checkbox-bs input[type="checkbox"] {
    transform: scale(2);
}

.awesome-checkbox {
    margin: 2.25vh 2vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 8px;
}

.btn {
    padding: .25vh 1.5vh;
    background: var(--blue);
    border: none;
}


.description-header {
  margin-bottom: 5px !important;
  font-size: 15px !important;
}

.description-text {
  font-size: 13px;
}


.awesome-checkbox label::before {
    transform: translateY(3px);
    left: -10px;
    padding: 12px;
}

.form-group .shiny-input-container {
    align-items: flex-start;
}

.last-n-games {
    display: inline-flex;
    align-items: center;
}

/* Styles for the table container, title, and subtitle */
.top-snappaneers {
  /* Center the table */
  margin: 0 auto;
  /* Reduce the table width */
  font-family: var(--font-sans-serif), "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: flex;
  text-align: left;
  flex-direction: column;
  align-items: flex-start;
  padding: 0vh 2vw;
  overflow: auto;
}

.snappaneers-header {
  margin: 8px 0;
  font-size: 16px;
}

.snappaneers-title {
  font-size: 20px;
  font-weight: 600;
  display: flex;
}

/* Styles for the table */
.reactable {
  overflow:auto;
}


.sound-effect {
  display: none;
}

.halftime {
  padding: 3em 6em !important;
  width: 40em !important;
}

.halftime > .swal2-title {
  font-size: 4em;
}
.halftime > .swal2-html-container {
  font-size: 1.75em;
}

.restart-warning {
  opacity: .8
}

.restart-bttn {
  margin: 8px 16px;
}

.snappaneers-tbl a {
  color: inherit;
}

.dividing-line {
  border-bottom: 1px dashed var(--red);
}

.ranked {
  background: #fafaf9 !important;
}

.ranked:hover {
  background: #E3E3DE !important;
}

.ranked:focus {
  background: #E3E3DE !important;
}

.ranked:active {
  background: #E3E3DE !important;
}
.unranked {
  background: #E3E3DE !important;
}

.unranked:hover {
  background: #fafaf9 !important;
  font-weight: 400 !important;
}

.unranked:focus {
  background: #fafaf9 !important;
  font-weight: 400 !important;
}

.unranked:active {
  background: #fafaf9 !important;
  font-weight: 400 !important;
}

.caption {
  font-size: 0.95rem;
  padding: 2px;
  width: 100%;
  text-align: left;
  margin-top: 5px;
  margin-bottom: 20px;
  border-bottom: 1px solid #adc4c2;
}

.input-well, .scoreboard-well, #start_game, #next_round, #previous_round, #switch_sides, #A_score_button, #undo_score_A, #B_score_button, #undo_score_B {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
}

/* Styling for 'we-scored' button and box around it */


#A_score_button, #B_score_button {
  border-radius: 15px;
  font-size: 5.5vh;
  margin-bottom: 4vh;
}
/*
#round_control_buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
*/
/* Styling for the landing page: size of input wells, flex on player forms, and additional styling due to the close button on 
players 3 and 4 */
/*
.input-well {
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}


.player-input-forms {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;  
}
*/

.player-input-forms .shiny-input-container {
  margin: 8px 4px;
}
.additional_players_form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}


#extra_player_A3, #extra_player_A4, #extra_player_B3, #extra_player_B4 {
  border-radius: 15px;
  margin: 8px 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
}

#start_game {
  border-radius: 15px;
}

.selectize-input {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
}

.input_close_and_name {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.input_close_and_name > h1{
  text-align: center;
  font-weight: bold;
  color: white;
  font-size: 4.2rem;
  flex: 5 0 80%;
}

#remove_A3, #remove_A4, #remove_B3, #remove_B4 {
    height: 5vh;
    width: 15%;
    align-self: center;
    position: relative;
    left: 47%;
    top: 75px;
    z-index: 100;
}

.additional_players_form > .shiny-input-container {
  width: 100%;
}

.input_close_and_name > button {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
}

#switch_sides {
  border-radius: 15px;
}

#scoreboard_center_controls {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 2.5vh;
}

#round_value > h3 {
  text-align: center;
}

.scoreboard-well {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 2vh 4vw;
  margin:0;
}
.team_name {
  padding-top: 2vh;
  flex: 1 1 auto;
}
.team_score {
  flex: 1 1 auto;
}


#paddle-icon, #foot-icon, #clink-icon, #head-icon {
  margin: 0.5vh 2vh;
}


.control-sidebar>.tab-content {
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.control-sidebar>.tab-content>.active {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.control-sidebar>.tab-content>.active>.shiny-input-container {
  margin: 2vh 0;
}

.control-sidebar>.tab-content>.active>.action-button {
  margin: 2vh 1vh;
}

.irs--shiny .irs-grid-text, .irs-min, .irs--shiny .irs-max, .control-sidebar-dark {
  color: var(--bg-col) !important;
}

/* quick and dirty CSS update for new scoreboard */
.team-header {
  text-align: center;
  color: white;
  font-size: 9vh;
  font-weight: 700;
  margin-bottom: 12px;
  padding: 8px 12px;
}

.team-score {
  font-size: 32vh;
  color: white;
  line-height: 1;
  margin: -3vh 0;
}

.shiny-output-error-validation {
  font-size: 1.5rem;
}

.help-block {
  font-size: 1.25rem;
}

.round-control {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.score-checkbox {
  font-size: 4.5vh;
}

.modal-body {
  padding: 10px 15px !important;
}

.dice-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  align-items: flex-start; 
  margin: 0 3vh;
}

.awesome-checkbox label::after {
  width: 20px !important;
  height: 20px !important;
  top: 9px !important;
  padding-left: 4px !important;
}

.score-header {
  text-align: left;
  margin-bottom: 12px;
}

.player-input {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}

.well-A, .well-B {
  display: flex;
  flex-direction:column;
  flex-grow: 1;
}

.well-A {
  background: #e26a6a;
}

.well-B {
  background: #2574a9;
}

.scoreboard {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}

.score-and-undo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 8px 4px;
}

.die-logo {
  background: transparent;
  position: relative
}

.modal-dialog.modal-xl {
  width: 800px;
}

.score-well {
    padding: 2.5vh;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}

/* Controls for text shading on wells */



/* End my CSS */

body{
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%232051e5' fill-opacity='0.04'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    font-family: var(--font-sans-serif);
    font-size: 16px;
    margin: 0;
    padding: 0;
}


h1 {
    height: auto !important;
    font-size: 1.2rem;
}

h2 {
    height: auto !important;
    margin: 16px 0px;
}

.emoji {
    font-style: normal;
}

.hidden {
    display: none !important;
}

.main-container {
    width: 100%;
    max-width: 1150px;
    height: calc(100vh - 64px);
    min-height: 860px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.column-flex-center {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin: 16px 0px;
}

.cards-wrap {
    display: flex;
    position: relative;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 32px;
}

.card {
    background-color: white;
    width: 40%;
    border: solid 1px;
    border-radius: 15px;
    box-shadow: 0px 4px 25px rgba(0, 72, 103, 0.15);
    z-index: 2;
    overflow: hidden;
}

.card.a-card{
    border-color: var(--red-outline);
}

.card.b-card{
    border-color: var(--blue-outline);
}

.card-heading {
    margin-top: 0;
    padding: 32px;
    font-size: 48px;
    font-weight: 600;
    text-align: center;
    border-top: 12px solid;
    border-bottom: 1px solid;
}

.card-heading.a-card {
    background-color: var(--light-red);
    border-top-color: var(--red);
    border-bottom-color: var(--red-outline);
    color: var(--red);
}

.card-heading.b-card {
    background-color: var(--light-blue);
    border-top-color: var(--blue);
    border-bottom-color: var(--blue-outline);
    color: var(--blue);
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group.hidden {
    display: none;
}

input[type=text]{
    padding: 8px;
    margin-top: 4px;
    border-radius: 10px;
    border: solid 1px var(--gray-3);
    background-color: var(--gray-2);
    font-size: 1rem;
    flex-grow: 1;
}

input:focus {
    border-color: var(--blue-outline);
}

::placeholder {
    font-weight: 300;
}

.extra-input {
    position: relative;
    display: flex;
    flex-grow: 1;
}

.exit-btn {
    position: absolute;
    top: -10px;
    right: -10px;
    cursor: pointer;
    fill: white;
}

.exit-btn:hover {
    fill: var(--gray-3);
}

.vs-wrap {
    position: absolute;
    top: auto;
    bottom: auto;
    left: auto;
    right: auto;
    background-color: white;
    font-size: 32px;
    font-style: italic;
    color: var(--gray-4);
    width: 250px;
    height: 250px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    overflow: hidden;
}

.vs-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--gray-2);;
}

.shiny-input-radiogroup {
    margin-bottom: 4vh;
}

.shiny-options-group {
    margin-top: 16px;
}

.radio-inline{
    margin: 0px 8px;
    cursor: pointer;
}

input[type=radio]{
    cursor: pointer;
}

#note {
    font-size: .8rem;
    color: var(--gray-10);
    position: absolute;
    text-align: center;
    width: 100%;
}

.btn {
    padding: 8px 16px;
    font-size: 1em;
    font-weight: 500;
    border-radius: 10px;
    cursor: pointer;
    transition: all 200ms ease-in-out;
    background: var(--gray-2);
    border: 1px solid var(--gray-4);
    display: flex;
    align-items: center;
}

.btn:hover {
    background-color: var(--gray-3);
}

.btn:disabled {
    color: var(--gray-4);
    background-color: var(--gray-2);
    cursor: not-allowed;
}

.btn:focus {
    border: 1px solid rgba(0, 174, 255, 0.8);
    background-color: rgba(0, 174, 255, 0.1);
}

.btn-yellow {
    border: 0;
    background-color: var(--yellow);
    padding: 16px 24px;
    margin-top: 48px;
}

.btn-yellow:hover {
    background-color: var(--dark-yellow);
}

.btn-yellow:disabled {
    color: var(--gray-4);
    background-color: var(--light-yellow);
    cursor: not-allowed;
}

.btn-icon {
    margin-right: 8px;
}
/*
@media (max-width: 1500px) {
    .well .shiny-input-container {
        width: 80%;
    }
    .additional_players_form > .shiny-input-container {
        width: 100%;
    }
}
*/

@media (min-width: 768px) {
  .modal-lg {
    width: 1204px;
  }
}



@media (max-width: 1200px) {
    .well  {
        width: auto;
    }
    .shiny-input-container {
        width: 100%;
    }
}

@media (max-width: 749px) {

    .main-container {
        height: auto;
    }
    .well .shiny-input-container {
        width: auto;
    }

    .cards-wrap {
        justify-content: center;
        margin-bottom: 16px;
    }

    .card {
        width: 95%;
        margin: 24px 0px;
    }

    .card-heading {
        font-size: 32px;
        padding: 16px;
    }

    .vs-wrap {
        font-size: 24px;
    }

    .btn-yellow {
        margin-top: 56px;
    }
}

@media only screen 
    and (min-device-width : 768px) 
    and (max-device-width : 1024px) 
    and (orientation : landscape) {
        
    .h1, .h2, .h3, h1, h2, h3 {
        margin: 0;
    }
    
    #start_game {
        padding: 2vh 2vw 2vh 2vw;
    }
    
/*    #undo_score_A {
        padding: 1vh 1vw 1vh 1vw;
        right: 6vw;
        font-size: 2.5vh;
    }
    
    #undo_score_B {
        padding: 1vh 1vw 1vh 1vw;
        left: 6vw;
        font-size: 2.5vh;
    }
    
    #previous_round{
        padding: 1.5vh 2.5vw;
        margin-top: 1vh;
        order: 2;
    }
    
    #next_round {
        padding: 0vh 1vw 0vh 1vw;
        margin-bottom: 0vh;
        margin-top: 1vh;
        min-height: 15vh;
        width: 90%;
        order: 1;
    }
  
    #round_num {
        font-size: 15rem;
        margin-top:0;
        margin-bottom:2vh;
        line-height: 15rem;
    }
   */  
    #score_heatmap {
        height: 500px;
    }
    
    #finish_game, #new_game {
        font-size: 1.7rem;
        margin: 2vh 1vh;
        padding: 1.4vh;
    }
    
    .modal-dialog .modal-lg {
        width: 95vw!important;
    }
    
    #resume_yes, #resume_no {
        font-size: 2.5rem;
        margin: 1vh;
    }
    /*
    #round_control_buttons {
      height: 32vh;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      
    } 
    */
}



