
.row.player_input {
  height: 100%;
}


.team-head {
    font-size: 48px;
    color: var(--bg-col);
    padding: 15px;
}

.btn-size {
  background-color: var(--bg-col);
}

#input_forms_A {
  color: var(--team-a);
  background-color: var(--bg-col);
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.btn-A.active {
  background-color: var(--team-a);
  color: var(--bg-col);
}

#input_forms_B {
  color: var(--team-b);
  background-color: var(--bg-col);
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.btn-B.active {
  background-color: var(--team-b);
  color: var(--bg-col);
}

.start {
    background-color: var(--green);
    margin-top: 4vw;
    color: var(--bg-col);
}

.fa.fa-dice {
  margin-right: 5px;
}

.input_well {
  background-color: var(--bg-col);
  border-width: .5vw;
  border-radius: 10px;
  margin: 0;
  padding: 0;
}

.player_input_forms {
  flex-grow: 4;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;  
  height: auto;
}

.player_input-center {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.A {
  background-color: var(--team-a);
}

.B {
  background-color: var(--team-b);
}

.well_A {
  border-color: var(--team-a);
  background-color: var(--team-a);
}

.well_B {
  border-color: var(--team-b);
  background-color:var(--team-b);
}

.player_input {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.player-selectize-title {
  text-align: center;
}

 .team-size-selector-title {
  font-size: 2.5rem;
  text-align: center;
  margin: 10px;
}